/* Estilos específicos para a seção de Suplementação */

.supplements ul {
  list-style: none;
  padding-left: 0;
}

.supplements ul li {
  margin-bottom: 10px;
  line-height: 1.6;
  font-weight: bold;
  color: #00234f;
}
